/*
* Style.css v1.0.0
* https://marketingsemsegredos.com.br/
*/
.template-kp-saude{
  /*https://static-public.klickpages.com.br/uploads/media/file/2455086/bg-primary-mkt-ss002.jpg*/
  background: url(https://static-public.klickpages.com.br/uploads/media/file/2456018/bg-primary-mkt-ss-png2.png) left center / cover no-repeat scroll;
    height: 100vh;
    display: flex;
    align-items: center;
    max-height: 768px;
  min-height: 400px;
}
.template-bluesol:after{
  content: '';
position: absolute;
width: 2px;
height: 100%;
background-color: #c8ab1169;
z-index: 500;
top: 0;
left: 6.1%;
}

.header-container.template-olivia .container-mobile{
  width:100%!important;
}
.header-container.template-olivia > .container{
  padding: 6px 20px 6px!important;
}
.table-images.template-leandro .list .item .layer{
  padding: 0 10%!important;
      opacity: 1!important;
  background-color: rgba(10, 29, 86, 0.7)!important;
}
.table-images.template-leandro .list .item .layer:hover{
  background-color: rgba(10, 29, 86, 0.9)!important;
}

.header-container-four{
  padding-right: 5px!important;
}

.author-about-4.template-leandro .thumb img{
  height: auto!important;
}

.events-photo.template-cris .events-photo-agenda-item-content .button{
  padding:0px!important;
}



@media (max-width: 767px){
  
  
  .itens.template-bonus .box .box__description{
    padding-left:20px!important;
    text-align: left !important;
  }
  .itens.template-bonus .box .box__description:after{
    content: '';
position: absolute;
width: 2px;
height: 100%;
top: 0px;
left: 0;
z-index: 1;

  }
  
  .itens.template-bonus .box .box__description.four-red-color:after{
    background-color: rgb(242, 19, 43);
  }
  
  .itens.template-bonus .box .box__description.four-black-color:after{
    background-color: #000;
  }
  
  .itens.template-bonus .box .box__description.four-out-color:after{
    background-color: rgb(163, 163, 163);
  }
  
  
  
  
  
  .header-container.template-olivia .header-navigation{
    padding-top: 10px!important;
    margin-bottom: 10px!important;
    display:block!important;
  }
.header-container.template-olivia .header-navigation .header-menu-item, .header-container.template-olivia .header-navigation .header-social-item{
  display: inline!important;
  border-top: 0px solid #e5e5e5!important;
}
.header-container.template-olivia .header-navigation .header-social-item{
  padding: 10px 10px!important;
}
 
 .template-kp-saude{
   background-position: -50px 0!important;
  }
  .template-bluesol:after{
left: 10px;
}
  
  .events-photo.template-cris .events-photo-agenda-item{
    border-right: 2px #ebcc1f solid!important;
  }
  
  
  .banner.template-kp-saude .text-wrapper{
    text-align: left !important;
    padding-left: 10px!important;
    font-size: 90%!important;
  }
  .banner.template-kp-saude .subtitle{
    text-align:left!important;
    font-size: 20px!important;
  }
  .banner.template-kp-saude .title{
    text-align:left!important;
    font-size: 40px!important;
  }
  
  
  .quality-3.template-bluesol .quality-item{
  width:100%!important;
}
  
  
}
